/* COMMON */
LABEL {
  font-weight: normal;
  margin-top: 10px;
}

A {
  color: #666;
}

A:hover, A:focus {
  color: #333;
}

/* Bootstrap Override */
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #333;
  border-color: #666;
}

.btn-primary:hover {
  background-color: #444;
  border-color: #666;
}

/* Others */
.trash { color:rgb(209, 91, 71); }

.sd-navbar-brand, .sd-navbar-brand:hover {
  color: #777777;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  display: block;
  text-decoration: none;
}

.admin-page-head {
  position: fixed;
  z-index: 10;
  width: inherit;
  background-color: #fff;
  opacity: .95;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  margin: 0;
  .admin-page-head-left {
    float: left;
    .admin-page-title {
      padding-top: 4px;
      font-size: 18px;
    }
  }
  .admin-page-head-right {
    float: right;
  }
}

.admin-page-body {
  padding-top: 50px;
}

DIV.page > DIV.col-sm-2 {
  padding-right: 0;
}

.page .page-container {
  padding-left: 0;
  padding-right: 0;
  .page-container-view {
    width: inherit;
  }
}

.navbar {
  border-radius: 0;
  .navbar-nav {
    float: none;
  }
}

DIV.navbar-collapse {
  padding: 0;
  LI {
    width: 100%;
  }
  LI A {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }
}
