/* COMMON */
LABEL {
  font-weight: normal;
  margin-top: 10px;
}

A {
  color: #666;
}

A:hover, A:focus {
  color: #333;
}

/* Bootstrap Override */
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #333;
  border-color: #666;
}

.btn-primary:hover {
  background-color: #444;
  border-color: #666;
}

/* Others */
h4.section-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  padding-top: 15px;
}

.trash { color:rgb(209, 91, 71); cursor: pointer; }

.navbar-brand {
  font-size: 22px;
}

.admin-page-head {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  opacity: .95;
  border-bottom: 1px solid #eee;
  padding: 5px 10px;
  margin: 0;
  .admin-page-head-left {
    float: left;
    .admin-page-title {
      padding-top: 4px;
      font-size: 18px;
    }
  }
  .admin-page-head-right {
    float: right;
  }
}

.admin-page-body {
  padding: 50px 10px 0;
}

DIV.page > DIV.col-sm-2 {
  padding-right: 0;
}

.page .page-container {
  padding-left: 0;
  padding-right: 0;
}
