/* COMMON */
LABEL {
  font-weight: normal;
  margin-top: 10px;
}

A {
  color: #666;
}

A:hover, A:focus {
  color: #333;
}

.list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  .list-box-image {
    width: 80px;
  }

  > DIV.list-box-details {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    width: 80%;
    float: left;
    padding-left: 15px;
  }
}

.validation-message {
  background-color: #f2dede;
  padding: 10px;
  color: #D87777;
  border-radius: 3px;
}

/* Bootstrap Override */
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #333;
  border-color: #666;
}

.btn-primary:hover {
  background-color: #444;
  border-color: #666;
}

/* Others */
.page-container {
  padding-top: 50px;
}

h4.section-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  padding-top: 15px;
}

.gray-text { color: #666; }
.trash { color:rgb(209, 91, 71); cursor: pointer; }

.navbar-brand { font-size: 22px; }

.admin-page-head {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  opacity: .95;
  border-bottom: 1px solid #eee;
  padding: 5px 10px;
  margin: 0;
  .admin-page-head-left {
    float: left;
    .admin-page-title {
      padding-top: 4px;
      font-size: 18px;
      display: inline-block;
    }
    .sd-pagination {
      display: inline-block;
      margin-left: 10px;
    }
  }
  .admin-page-head-right {
    float: right;
  }
}

.admin-page-body {
  padding: 50px 10px 0;
}

DIV.page > DIV.col-sm-2 {
  padding-right: 0;
}

.page .page-container {
  padding-left: 0;
  padding-right: 0;
}
