.sd-pagination {
  display: inline-block;
  .sd-pagination-page-link {
    display: inline-block;
    A {
      cursor: pointer;
    }
    .pagination-disabled {
      color: #aaa;
    }
  }
  .sd-pagination-page-no {
    width: 25px;
    text-align: center;
    border: 1px solid #ccc;
    margin-right: 2px;
    color: #ccc;
    &.active {
      border-color: #666;
      color: #666;
    }
    &:hover {
      color: #666;
      border-color: #666;
      cursor: pointer;
    }
    &.active:hover {
      border-color: #666;
      cursor: default;
    }
  }
}

.sd-pagination-container {
  font-size: 12px;
  margin-top: 7px;
}
