<div class="navbar navbar-default" ng-controller="NavbarController" role="navigation">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">sendo</a>
  </div>
  <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">
      <li ng-repeat="menu_item in menu" ng-show="menu_item.isShow()" ng-class="{active: isActive(menu_item.link)}">
        <a ng-href="{{menu_item.link}}">{{menu_item.title}}</a>
      </li>
      <li ng-show="isAdmin()" ng-class="{active: isActive('/admin/users')}"><a href="/admin/users">Users</a></li>
      <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/admin/signup')}"><a href="/admin/signup">Sign up</a></li>
      <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/admin/login')}"><a href="/admin/login">Login</a></li>
      <li ng-show="isLoggedIn()" ng-class="{active: isActive('/admin/logout')}"><a href="" ng-click="logout()">Logout</a></li>
    </ul>

    <!--
        <ul class="nav navbar-nav navbar-right">
          <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
          <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
          <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
          <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
          <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
        </ul>
    -->
  </div>
</div>
