<div class="admin-page-head clearfix">
  <div class="admin-page-head-left">
    <div class="admin-page-title">Themes</div>
  </div>
  <div class="admin-page-head-right">
    <div class="btn btn-upload-a-theme btn-default">Upload a theme</div>
    <div class="btn btn-visit-theme-store btn-primary">Visit Theme Store</div>
  </div>
</div>
<div class="admin-page-body">
  <div class="list-container">
    <div class="theme-list-row list-box" ng-click="theme_click($index)" ng-repeat="theme in themes">
      <div class="theme-list-details list-box-details">
        <div class="theme-list-product-title">{{theme.name}}</div>
      </div>
    </div>
  </div>
</div>
