<div class="admin-page-head clearfix">
  <div class="admin-page-head-left">
    <div class="admin-page-title">
      <a href="/admin/products" class="admin-page-title-link">Products</a>
      <span ng-show="page_name">&gt; {{page_name}}</span>
      <span ng-show="product.title" class="product-title-label">&gt {{product.title}}</span>
    </div>
  </div>
  <div class="admin-page-head-right">
    <div class="btn btn-primary btn-save" ng-click="save_click()">Save</div>
  </div>
</div>
<div class="admin-page-body">
  <label for="product_title">Title</label>
  <input class="form-control" type="text" id="product_title" ng-model="product.title"/>
  <label for="product_description">Description</label>
  <input class="form-control" type="text" id="product_description" ng-model="product.description"/>

  <div class="sd-file-upload" on-file-changed="file_upload_changed" on-file-delete="file_delete" images="product.images"></div>
  <!-- SEO -->
  <h4 class="section-header">Search Engines</h4>
  <label for="page_title">Page Title</label>
  <input class="form-control" type="text" id="page_title" ng-model="product.page_title"/>
  <label for="meta_description">Meta Description</label>
  <input class="form-control" type="text" id="meta_description" ng-model="product.meta_description"/>
</div>
