<div class="admin-page-head clearfix">
  <div class="admin-page-head-left">
    <div class="admin-page-title">Products</div>
    <div class="sd-pagination" current-page="current_page" no-of-pages="no_of_pages" go-to-page-click="go_to_page_click"></div>
  </div>
  <div class="admin-page-head-right">
    <div class="btn btn-primary btn-add-product" ng-click="add_product_click()">Add Product</div>
  </div>
</div>
<div class="admin-page-body">
  <div class="list-container">
    <div class="product-list-row" ng-click="product_click($index)" ng-repeat="product in products">
      <div class="product-list-product-title">{{product.title}}</div>
      <div class="product-list-product-description">{{product.description}}</div>
    </div>
  </div>
</div>
