<div>
  <div class="file-upload-button btn btn-default">
    <input accept="image/*" class="file-upload-field" multiple type="file"/>
    <div class="file-upload-button-text" ng-show="uploading">Uploading...</div>
    <div class="file-upload-button-text" ng-show="!uploading">Add Images</div>
  </div>

  <div class="photo-thumbnails-container clearfix" ng-class="{ 'drag-photo': dragPhoto }">
    <div class="photo-thumbnails-background-text" ng-show="images.length === 0 && !showAddUploadImage">Click "Add Image" or Drag your images here</div>
    <div class="photo-thumbnail" ng-repeat="image in images">
      <div class="is_featured" ng-show="image.is_featured">Featured</div>
      <div class="photo-thumbnail-menu">
        <div>
          <a href="#" class="photo-thumbnail-mark-as-featured" ng-click="mark_as_featured_click($index)" ng-hide="image.is_featured">Mark as Featured</a>
          <a href="#" class="photo-thumbnail-set-alt">set ALT</a>
          <a href="#" class="photo-thumbnail-remove" ng-click="delete_photo_click($index)">remove</a>
        </div>
      </div>
      <div class="photo-thumbnail-image-container">
        <img class="photo-thumbnail-image" src="{{filePath}}/{{image.filename}}"/>
      </div>
    </div>
    <div ng-show="showAddUploadImage" class="photo-thumbnail-add-upload-images" ng-class="{ 'show-upload-image-message': dragPhoto}">
      <span class="photo-thumbnail-add-upload-images-text">
        Upload Image
      </span>
    </div>
  </div>
</div>
