<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

<h1>Product</h1>
<img class="product-thumbnail-image" src="<%= product.featured_image_url%>"/>

<div class="product-title"><%= product.title %></div>
